<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- bootstrap cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.1/css/bootstrap.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<title>Document</title>
</head>

<body>
    <div class="bg-image "
        style=" background-size: cover; background-repeat: no-repeat; background-image: url('https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80://images.unsplash.com/photo-1599058917212-d750089bc07e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80'); height: 100vh;">
        <nav class="d-flex justify-content-between align-items-center col-12">
            <h1 class="text-center display-2 text-light">Welcome {{user.first_name}}!!!</h1>
            <div class="d-flex col-2 justify-content-around">
                <a href="/dashboard" class="btn btn-outline-warning">Home</a>
                <a href="/logout" class="btn btn-outline-warning">Logout</a>

            </div>

        </nav>
        <form action="/create/workout" method="post" class="  display-6 p-3 my-4 text-center mx-auto">
            <h2 class="text-warning display-6">Add a New Workout</h2>
            {% with messages = get_flashed_messages(category_filter=['workout']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="container text-light">

                <div class="row">
                    <div class="col">
                        <div class="form-group text-center">
                            <label for="name">Name:</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <label for="description">Description:</label>
                            <textarea name="description" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class=" shadow p-3 mb-2  rounded" style="text-align: center; margin: 2px;">
                            <label for="compound_lift">Compound Lift:</label>
                            <select class="rounded" name="compound_lift">
                                <option value="Bench">Bench</option>
                                <option value="Squat">Squat</option>
                                <option value="Deadlift">Deadlift</option>
                                <option value="none">None</option>
                            </select>
                        </div>

                        <div class="shadow p-3 mb-2  rounded" class="shadow p-3 mb-5  rounded"
                            style="text-align: center; margin: 2px;">
                            <label for="compound_lift2">Compound Lift:</label>
                            <select class="rounded" name="compound_lift2">
                                <option value="Bench">Bench</option>
                                <option value="Squat">Squat</option>
                                <option value="Deadlift">Deadlift</option>
                                <option value="none">None</option>
                            </select>
                        </div>
                        <div class="shadow p-3 mb-2  rounded" style="text-align: center; margin: 2px;">
                            <label for="compound_lift3">Compound Lift:</label>
                            <select class="rounded" name="compound_lift3">
                                <option value="Bench">Bench</option>
                                <option value="Squat">Squat</option>
                                <option value="Deadlift">Deadlift</option>
                                <option value="none">None</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="shadow p-3 mb-2  rounded" style="margin: 2px;">
                            <label for="accessory">Accessory:</label>
                            <select class="rounded" name="accessory">
                                <option value="curl">Curl</option>
                                <option value="overhead_press">Overhead Press</option>
                                <option value="Pullups">Pullups</option>
                                <option value="Bent_over_rows">Bent Over Rows</option>
                                <option value="Pushups">Pushups</option>
                            </select>
                        </div>
                        <div class="shadow p-3 mb-2  rounded" style="margin: 2px; ">
                            <label for="accessory2">Accessory:</label>
                            <select class="rounded" name="accessory2">
                                <option value="curl">Curl</option>
                                <option value="overhead_press">Overhead Press</option>
                                <option value="Pullups">Pullups</option>
                                <option value="Bent_over_rows">Bent Over Rows</option>
                                <option value="Pushups">Pushups</option>
                            </select>
                        </div>
                        <div class="shadow p-3 mb-2  rounded" style="margin: 2px; ">
                            <label for="accessory3">Accessory:</label>
                            <select class="rounded" name="accessory3">
                                <option value="curl">Curl</option>
                                <option value="overhead_press">Overhead Press</option>
                                <option value="Pullups">Pullups</option>
                                <option value="Bent_over_rows">Bent Over Rows</option>
                                <option value="Pushups">Pushups</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>



            <div class="text-center">
                <input type="submit" value="Add Workout" class="btn btn-outline-warning ">
            </div>
        </form>

    </div>


    </form>


    <script src="/static/script.js"></script>
</body>

</html>